.bullet-point-grid {    
    display: grid;
    grid-template-columns: 1fr;
    padding: 8px 4px 0px 4px;
    font-size: medium;
    background-color: white;

    >div {
        display: flex;
        align-items: center;
    }

    div.icon-title {
        padding-left: 8px;
        margin-top: 4px;
        padding-bottom: 4px;

        .title {
            margin-left: 8px;
        }

    }

    div.sub-title {
        height: 12px;
        padding-left: 48px;
        font-size: small;
        color: gray;
    }

    a {
        text-decoration: underline;
    }

    a:hover {
        text-decoration: none;
    }
}