
<div class="drawer-grid">
  <div>
    <ll-business [detailMode]="true" [compactMode]="true" [business]="store.businessSelected()"></ll-business>
  </div>
  <div>
    <div class="invite-grid">
      <div style="display: flex;align-items: center;justify-content: center;margin-top: 8px;">
        <button [cdkCopyToClipboard]="store.businessSelected().urlAppSendTo"
          mat-icon-button><mat-icon>content_copy</mat-icon></button>
        <b>Copy & Send URL To Friend To Meet</b>
      </div>
      <div>
        <div style="margin:16px;">
          <textarea rows="1" disabled style="width: 100%;text-align: center;"
            [value]="store.businessSelected().urlAppSendTo"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>