.no-scroll-container {
    overflow: hidden;
    height: 90vh;

    .scroll-container {
        height: 100%;

        overflow: auto;
    }
}

.action-bottom {
    height: 10vh;    
    display: flex;
    border-top: 1px solid #cccccc;
    align-items: center;    
    justify-content: center;
    // position: absolute;
    // bottom: 0px;    
    // text-align: center;
    
    

}

.drawer-grid {
    display: grid;
    grid-template-columns: auto;
    row-gap: 8px;
    padding: 4px;

    justify-items: center;
    margin: 8px;

    >div {
        //make all the children 100% width
        width: 100%;
        margin-bottom: 8px;
        // border: 1px dotted red;
    }

    .header {
        width: 100%;
        border-bottom: 1px solid #cccccc;
        padding-bottom: 8px;
        padding-right: 8px;
    }
}

.invite-grid {
    display: grid;
    background-color: aliceblue;
    border: 1px solid #cccccc;
    grid-template-columns: auto;
    row-gap: 8px;
    width: 100%;
    margin-top: 8px;

    >div {
        padding: 8px 8px;
        // border: 1px dotted red;
    }

    textarea {
        width: 100%;
        /* This includes padding and border in the width */
        box-sizing: border-box;
        resize: none;
        padding-top: 8px;
        margin-left: 4px;
        padding-left: 3px;
    }

    .invite-container {
        // border: 1px solid #cccccc;
        display: flex;
        align-items: center;
    }
}