.marketing-component {
    padding-top: 10px;
    margin-top: 32px;
    border-top: 1px solid black;
}

.brand-name {
    display: flex;
    color: blue;
    font-size: xx-large;
    font-weight: 500;
    justify-content: center;
    //Small bootstrap and up
    @media screen and (min-width: 576px) {
        font-size: 48px;
        border: none;
    }
}

.brand-tag-line {
    display: flex;
    color: black;
    font-size: .75rem;
    font-weight: 500;
    justify-content: center;
    //Small bootstrap and up
    border-bottom: 1px solid #cccccc;
    @media screen and (min-width: 576px) {
        font-size: 18px;
    }
    padding: 16px 0px;
}

.info-grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 16px;
    //medium boostrap and up
    @media screen and (min-width: 768px) {
        grid-template-columns: 1fr 1fr 1fr;     
    }
    //xx-large and up
    @media screen and (min-width: 1400px) {
        margin: 0% 25%;
    }
    .info {
        display: grid;
        border-bottom: 1px solid #cccccc;
        columns: 1fr;
        row-gap: 8px;
        padding: 16px 16px;
        padding-left: 32px;

        //medium and up
        @media screen and (min-width: 768px) {
            border-bottom: none;
        }
        .title {
            font-weight: 500;
            font-size: large;
        }
        .text {
            font-size: large;
        }
    }
}