<div class="marketing-component">
    <div class="brand-name">
        {{store.brandName()}}
    </div>

    <div class="brand-tag-line">
        {{store.brandTagline() | titlecase}}
    </div>

    <div class="info-grid">

        <div>
            <div class="info">
                <div class="title">
                    Can We Talk In Person?
                </div>
                <div class="text">
                    Dating apps messaging is not effective adult communication.
                    Relationships are better when two people engage in person.
                </div>

                <div>
                    <mat-list>
                        <mat-list-item>
                            <mat-icon matListItemIcon>swipe_right</mat-icon>
                            <div matListItemLine>We Swiped Right Time To Meet</div>
                        </mat-list-item>                        

                        <mat-list-item>
                            <mat-icon matListItemIcon>share</mat-icon>
                            <div matListItemLine>Lorem ipsum dolor sit.</div>
                        </mat-list-item>                        

                        <mat-list-item>
                            <mat-icon matListItemIcon>face_retouching_natural</mat-icon>
                            <div matListItemLine>Lorem ipsum dolor sit amet consectetur.</div>
                        </mat-list-item>                        
                    </mat-list>
                </div>

            </div>
        </div>

        <div>
            <div class="info">
                <div class="title">
                    Your Safety Is A Priority.
                </div>

                <div class="text">
                    Our meeting locations are public places. We provide well-known applications to help
                    you verify the safety of each location.
                </div>

                <div>
                    <mat-list>
                        <mat-list-item>
                            <mat-icon matListItemIcon>directions</mat-icon>
                            <div matListItemLine>Google Map Directions</div>
                        </mat-list-item>

                        <mat-list-item>
                            <mat-icon matListItemIcon>home</mat-icon>
                            <div matListItemLine>Verify Their Website</div>
                        </mat-list-item>

                        <mat-list-item>
                            <mat-icon matListItemIcon>call</mat-icon>
                            <div matListItemLine>Call Business To Verify</div>
                        </mat-list-item>
                    </mat-list>
                </div>

            </div>
        </div>

        <div>
            <div class="info">
                <div class="title">
                    We Are In Beta 1.0
                </div>
                <div class="text">
                    This app is designed in an interative agile approach based on customer feedback and analytics. Money is not the motivation.
                </div>

                <div>
                    <mat-list>
                        <!-- <mat-list-item>
                            <mat-icon matListItemIcon>person_search</mat-icon>
                            <div matListItemLine>??????????</div>
                        </mat-list-item>                        
                        <mat-list-item>
                            <mat-icon matListItemIcon>swipe_right</mat-icon>
                            <div matListItemLine>??????????</div>
                        </mat-list-item>                        
                        <mat-list-item>
                            <mat-icon matListItemIcon>groups</mat-icon>
                            <div matListItemLine>??????????</div>
                        </mat-list-item>                         -->
                        <mat-list-item>
                            <mat-icon matListItemIcon>code</mat-icon>
                            <div matListItemLine>Lorem ipsum dolor sit.</div>
                        </mat-list-item>                        

                        <mat-list-item>
                            <mat-icon matListItemIcon>data_object</mat-icon>
                            <div matListItemLine>Lorem ipsum dolor sit amet.</div>
                        </mat-list-item>                        

                        <mat-list-item>
                            <mat-icon matListItemIcon>construction</mat-icon>
                            <div matListItemLine>Lorem ipsum dolor sit amet.</div>
                        </mat-list-item>                        
                    </mat-list>
                </div>

            </div>


        </div>


    </div>
</div>