<div class="marketing-grid">

    <div class="brand">
        <h1>{{store.brandName()}}</h1>
    </div>
    <div class="tag">{{store.brandTagline()}}</div>

    <div class="info-1">

        <div class="info">
            <div class="title">
                Can We Talk In Person?
            </div>
            <div>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod ratione ullam suscipit asperiores rerum
            </div>
        </div>
    </div>

    <div class="info-2">

        <div class="info">
            <div class="title">
                Your Safety Is A Priority
            </div>
            <div>
                recusandae! Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos aliquam beatae, aut
                asperiores in quis?
            </div>
        </div>

    </div>

    <div class="info-3">
        <div class="info">
            <div class="title">
                This Is An Agile Prototype
            </div>
            <div>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste repellat numquam reiciendis facere iusto
                aliquid officia ut sapiente eaque at!
            </div>
        </div>
    </div>


</div>