<div class="marketing-component">
    <div class="brand-name">
        {{store.brandName()}}
    </div>

    <div class="brand-tag-line">
        {{store.brandTagline() | titlecase}}
    </div>

    <div class="info-grid">

        <div>
            <div class="info">
                <div class="title">
                    Can We Talk In Person?
                </div>
                <div>
                    Texting and direct messages in dating apps are not an effective ways to communicate.
                    Relationships are better when two people engage in adult conversation face to face.
                </div>
            </div>

        </div>


        <div>
            <div class="info">
                <div class="title">
                    Your Safety Is A Priority.
                </div>
                <div>
                    All meeting locations are well known public places to make you feel
                    safe. This app will provide you with detailed information so you can verify the address directions
                    and
                    the legitimacy of each meeting place.
                </div>
            </div>
        </div>

        <div>
            <div class="info">
                <div class="title">
                    We Are In Beta 1.0
                </div>
                <div>
                    This application was designed to showcase our teams's skill in Angular 19 with Signals. We are
                    releasing
                    constantly and thoroughly enjoy all constructive and negative feedback.
                </div>
            </div>
        </div>


    </div>
</div>