<mat-card class="category-card">
    <mat-card-header>        

        <mat-card-subtitle>
            @if(category().title){
                <b>{{category().title | titlecase  }}</b>
            }
            @else {

                @if(category().bulletPointList.list.length){
                    <b>{{category().bulletPointList.list[0].value | titlecase }}</b>
                }
                @else {
                    <b>Can We Meet To Talk? </b>
                }
            }            

        </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content style="margin-bottom: 10px;">
        <hr>
        <div style="display: grid;">
            <img style="border:1px solid black;" width="100%" mat-card-image [src]="category().imageUrl"
                [alt]="category().name">
        </div>
    </mat-card-content>
</mat-card>