mat-icon.local_bar {
    color: rgb(165, 15, 165) !important
}

mat-icon.public {
    color: green !important;

}

mat-icon.emoji_emotions {
    color: rgb(53, 165, 28);
}

mat-icon.bug_report {
    color: rgb(216, 66, 71) !important;
}

mat-icon.insert_emoticon {
    color: red !important;
}

mat-icon.coffee {
    color: #b37700 !important;
}