<form [formGroup]="form">

    <div id="header-main-container">

        <div class="item-1">
            <header id="header">
                <div id="brand">
                    Can We Meet To Talk?
                </div>

                <div id="state-select">
                    <select id="location" class="select" formControlName="stateLocation">
                        @for(state of store.locationList(); track $index){
                        <option [ngValue]="state"> {{state.name}} </option>
                        }
                    </select>
                </div>
            </header>
        </div>

        <div class="item-2">
            <div id="category-filter">

                <mat-chip-listbox aria-orientation="horizontal">
                    @for(c of store.categoryList(); track $index){

                    @if(c.id === store.categorySelected().id){
                    <mat-chip-option title="click to filter by category" color="orange" class="category-chip selected" selected (click)="store.filter(c)">
                        {{c.name}}
                    </mat-chip-option>
                    }
                    @else{
                    <mat-chip-option title="click to filter by category"  class="category-chip" (click)="store.filter(c)">
                        {{c.name}}
                    </mat-chip-option>
                    }

                    }
                </mat-chip-listbox>
            </div>

        </div>

    </div>


</form>