.selected {
    background-color: #ff9933 !important;
    //todo use the amazon variable,constant,etc..
}


#header-main-container {
    display: grid;
    grid-template-columns: 1fr;
    border-bottom: 2px solid black;

    .item-1 {
        background-color: aliceblue;
    }

    .item-2 {
        //desktop
        @media screen and (min-width: 576px) {
            //center the chip categories in the middle
            justify-items: center;
        }
    }
}

#header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'brand'
        'state';
    justify-items: center;
    row-gap: 10px;
    padding: 10px 10px;

    @media screen and (min-width: 576px) {
        display: inline-grid;
        justify-items: left;
        column-gap: 16px;
        grid-template-columns: auto auto;
        grid-template-areas:
            'brand'
            'state';
    }

    #brand {
        justify-items: center;
        grid-area: 'brand';
        font-weight: 500;
        font-size: x-large;
        // margin-right: 5px;
    }

    #state-select {
        grid-area: 'state';

        select {
            width: 200px;
        }
    }
}

.category-chip {
    width: 108px;
}

#category-filter {
    
    padding: 8px;
}