@if(categoryStore){

    
    

<form [formGroup]="form">

    <div id="header-main-container">

        <div class="brand-header">

            <header id="header">
                <div id="brand">
                    {{appStore.brandName()}}
                </div>

                @if (appStore.showStateSelection()){
                <div id="state-select">
                    <select id="location" class="select" formControlName="stateLocation">                        
                        @for(state of appStore.locationList(); track $index){
                        <option [ngValue]="state"> {{state.name}} </option>
                        }
                    </select>
                </div>
                }
            </header>
        </div>

        <div class="category-filter">
            <ll-category-list></ll-category-list>
        </div>

    </div>
</form>

}