<div style="display: flex;column-gap: 32px;margin-top: 32px;justify-content: center;">
    @if(!store.isLoading()){


    <lib-pdl-profit-calculator></lib-pdl-profit-calculator>

    }
</div>


<!-- <div class="grid">
    <button (click)="addExercise()" >Add Exercise</button>
    <br>
    <br>
    <table class="exercise-list">
        <thead>
            <tr>
                <th>
                    Name
                </th>

                <th>
                    Set
                </th>
                <th>
                    Rep
                </th>
                <th>
                  
                </th>
            </tr>
        </thead>


        <tbody>

            @for(e of exerciseList;track $index){

            <tr>
                <td>{{e.name}}</td>
                <td>{{e.set}}</td>
                <td>{{e.rep}}</td>
                <td>{{e.hint}}</td>
            </tr>


            }

        </tbody>

    </table>
</div> -->