.marketing-section {

    display: grid;
    grid-template-columns: 50%;
    border: 5px solid red;
    padding: 24px;
    justify-content: center;

    >div {
        border: 1px dotted red;
        padding: 8px;
    }
}

.marketing-grid-1 {

    padding: 8px;
    display: grid;
    border: 1px solid green;
    grid-template-columns: 1fr;

    //small
    @media screen and (min-width: 576px) {
        >div {
            background-color: pink;
        }
    }

    //Medium
    @media screen and (min-width: 768px) {
        grid-template-columns: 1fr 1fr 1fr;

        >div {
            background-color: green;
        }
    }

    //Large
    @media screen and (min-width: 992px) {
        grid-template-columns: 1fr 1fr 1fr;

        >div {
            background-color: blueviolet;
        }
    }

    //X-Large
    @media screen and (min-width: 1200px) {
        grid-template-columns: 1fr 1fr 1fr;

        >div {
            background-color: yellow;
        }
    }

    //XX-Large
    @media screen and (min-width: 1400px) {
        grid-template-columns: 1fr 1fr 1fr;
        // width: 50%;

        >div {
            background-color: wheat;
        }
    }

    >div {
        //debug
        // background-color:white;
    }

    row-gap: 16px;
    justify-content: center;

    >div {
        border: 1px solid red;
    }

}