<!-- https://stackoverflow.com/questions/47659664/flexbox-with-fixed-header-and-footer-and-scrollable-content -->

@if(store.businessList().length > 0){


<mat-drawer-container class="mat-drawer-container">
    <mat-drawer mode="side" class="mat-drawer"  #drawer>

        <div class="flex-header-footer">
            <header>
                <button (click)="drawer.toggle()" mat-flat-button>Close</button>
            </header>
            <main>
                <section>
                    <ll-business [business]="store.businessList()[0]"></ll-business>
                </section>

                <section>
                    <ll-business [business]="store.businessList()[1]"></ll-business>
                </section>

                <section>
                    <ll-business [business]="store.businessList()[2]"></ll-business>
                </section>

                <section>
                    <ll-business [business]="store.businessList()[3]"></ll-business>
                </section>
            </main>
            <footer>
                <button mat-flat-button (click)="drawer.toggle()" >Close The Drawer</button>
            </footer>
        </div>

    </mat-drawer>
    <mat-drawer-content class="mat-drawer-content">


        <div style="padding: 100px;">
            <button mat-flat-button (click)="drawer.toggle()">Open The Drawer</button>
        </div>

    </mat-drawer-content>
</mat-drawer-container>

}