.mat-subheader-1{
    margin-top: 0px !important;
    margin-bottom: 0px;
    
}

.mode-1 {
    .icon-text-hint {

        display: grid;
        column-gap: 2px;
        grid-template-columns: auto 10fr;
        grid-template-areas:
            "i t"
            "h h";
        margin-bottom: 5px;
        border-radius: 4%;
        border: 1px solid #cccccc;
        padding: 8px 0px 0px 8px;

        .icon {
            padding-top: 3px;
            grid-area: i;
            button {
                border: 1px solid blue;
            }
        }

        .text {
            grid-area: t;
            padding-top: 10px;
            padding-left: 10px;
            font-size: larger;
        }

        .hint {
            grid-area: h;
            font-size: small;
            color: #666666;
            padding-left: 8px;
        }

        .link-text {
            word-break: break-all;
            font-size: medium;
        }
    }

}

p.hint { 
    font-size: small;
    color: #666666; 
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3rem;
    
}