@if(mode() === 1){

<div class="mode-1">

    <div class="icon-text-hint">
        <div class="icon">
            <button mat-icon-button>
                <mat-icon style="color:blue">content_copy</mat-icon>
            </button>

        </div>
        <div class="text">
            {{url().description}}
        </div>
        <div class="hint">
            {{url().hint}}
        </div>
    </div>
</div>
}
@else {

<!-- ICON content_copy -->
<mat-card style="border: 1px solid #cccccc;padding-bottom:0px;background-color: #e6ffe6;">

    <mat-card-content style="padding-top: 8px;padding-bottom: 1px;">
        <div class="title-header-grid">
            <div>
                {{url().value}}
            </div>
            <div>
                <button [cdkCopyToClipboard]="url().value"  mat-icon-button><mat-icon>content_copy</mat-icon></button>
            </div>
        </div>

        <div>
            <button [cdkCopyToClipboard]="url().value" style="width: 100%;border-radius: 16px;" type="button"
                title="Click to copy URL & Paste into text message."
                aria-label="Click to copy URL & Paste into text message."
                class="btn  btn-success  btn-sm">Click To Copy Url</button>

        </div>
        <div style="margin-top: 16px;border-top: 1px solid green;padding-top: 3px;">
            <p class="hint">Click to copy URL. Paste into text message.</p>
        </div>
    </mat-card-content>
</mat-card>
}