<div class="invite-component-grid">

    <div class="business-grid-item" >
        <ll-business [detailMode]="true" [business]="business()"></ll-business>
    </div>

    <div>
        <ll-bullet-point-list [step]="1" [marketing]="store.businessSelectedMarketing()"
            [invite]="true"></ll-bullet-point-list>
    </div>

    <div>
        <ll-bullet-point-list [step]="2" [marketing]="store.businessSelectedMarketing()"
            [invite]="true"></ll-bullet-point-list>
    </div>

    <div>
        <ll-bullet-point-list [step]="3" [marketing]="store.businessSelectedMarketing()"
            [invite]="true"></ll-bullet-point-list>
    </div>


</div>