<div class="invite-component-grid">


    <section>
        <ll-business [detailMode]="true" [business]="business()"></ll-business>
    </section>

    <section>
        <ll-bullet-point-list [step]="1" [marketing]="store.businessSelectedMarketing()"
            [invite]="true"></ll-bullet-point-list>
    </section>

    <section>
        <ll-bullet-point-list [step]="2" [marketing]="store.businessSelectedMarketing()"
            [invite]="true"></ll-bullet-point-list>
    </section>

    <section>
        <ll-bullet-point-list [step]="3" [marketing]="store.businessSelectedMarketing()"
            [invite]="true"></ll-bullet-point-list>
    </section>


</div>