.invite-component-grid {
    max-width: 400px;
    display: grid;
    .business-grid-item {
        padding-bottom: 8px;
    }
}

.tab-message {
    padding: 16px;
    background-color: aliceblue;
    border: 1px solid #cccccc;
    margin-top: 8px;
    margin-bottom: 16px;
    text-align: justify;
}

mat-expansion-panel {
    border-top: none;
    border-radius: 0px;

    mat-expansion-panel-header {
        padding-bottom: 0px !important;
    }

    mat-panel-title {
        padding: 0px !important;
        margin: 0px !important;
    }
}

.mat-expansion-panel-body {
    padding-left: 0px !important;
    border: 1px solid red !important;
}

