<div class="marketing-component">

    <div class="brand-name">
        <a [routerLink]="['/home']">{{store.brandName()}}</a>

    </div>

    <div class="brand-tag-line">
        {{store.brandTagline() | titlecase}}
    </div>
    <div class="full-width">

        <div class="info-grid">
            @for(marketing of marketingList(); track $index){

            <div class="grid-item">

                <div class="info">

                    <div class="title">
                        {{marketing.title}}
                    </div>
                    <div class="text">
                        {{marketing.text}}
                    </div>
                    <div class="bullet-point">
                        <ll-bullet-point-list [marketing]="marketing"></ll-bullet-point-list>                 
                    </div>
                </div>
            </div>

            }
        </div>

    </div>

</div>