<div class="marketing-component">

    @if(!isSafety){

    <div class="brand-name">
        <a [routerLink]="['/home']">{{store.brandName()}}</a>

    </div>

    <div class="brand-tag-line">
        {{store.brandTagline() | titlecase}}
    </div>

    }


    <div class="full-width">

        <div class="info-grid">
            @for(m of marketingList(); track $index){

            <div class="grid-item">

                <div class="info">

                    @if(!isSafety()){

                    <div class="title">
                        {{m.title}}
                    </div>
                    <div class="text">
                        {{m.text}}
                    </div>

                    }

                    <div class="bullet-point">
                        <ll-bullet-point-list [bulletPointList]="m.bulletPointList"> </ll-bullet-point-list>                        
                    </div>
                </div>
            </div>

            }
        </div>

    </div>

</div>