<mat-card class="business-card">
    <mat-card-header >        
        <div class="title-grid">
            <div>
                <mat-card-title>
                    <a class="no-decoration" target="_blank" [href]="business().url">{{business().name}}</a>
                </mat-card-title>
            </div>
            @if(business().facebookUrl){
            <div style="text-align: right;">
                <a target="_blank" title="facebook page..." style="color:black" [href]="business().facebookUrl">
                    <div><mat-icon aria-hidden="false" aria-label="facebook pag" fontIcon="facebook"></mat-icon>
                    </div>
                </a>
            </div>
            }
        </div>        
    </mat-card-header>
    

    @if(business().address){

    @if(compactMode()){


    <mat-card-content>
        <hr>
        <div class="divide-grid">
            <div >
                <a target="_blank" [href]="business().url">
                    <img style="border:1px solid black;" width="100%" mat-card-image [src]="business().imageUrl"
                        alt="???">
                </a>
            </div>
            <div >
                <a style="text-decoration: none;color:black" target="_blank" [href]="business().googleMapUrl">
                    <div class="address">
                        @if(business().googleMapUrl){
                        <div style="margin-bottom: 3px;">
                            <a style="margin-bottom: 0px; font-size: small;" target="_blank"
                                [href]="business().googleMapUrl">Map Directions</a>
                        </div>
                        }

                        <div>{{business().address.address1}}</div>
                        @if(business().address.address2){
                        <div>{{business().address.address2}}</div>
                        }
                        <div>
                            <span>{{business().address.city}} </span>,
                            <span>{{business().address.state}} </span>
                            <span>{{business().address.zipcode}} </span>
                        </div>
                        <div style="font-size: large; font-weight: 500;margin-top: 8px;">
                            <a style="text-decoration: none; color: black;" href="tel:{{business().address.phone}}">
                                {{business().address.phone | mask: '(000) 000-0000'}}
        
                            </a>
                        </div>
        
                    </div>
                </a>
            </div>

        </div>

    </mat-card-content>

    }
    @else{
    <mat-card-content>
        <hr>
        <div style="display: grid;">
            <a target="_blank" [href]="business().url">
                <img style="border:1px solid black;" width="100%" mat-card-image [src]="business().imageUrl" alt="???">
            </a>
        </div>
    </mat-card-content>
    }

    @if(!compactMode()){
    <mat-card-content>
        
        <div style="display: grid;grid-template-columns: 50% 50%;">
            <div class="address-container">
                <a style="text-decoration: none;color:black" target="_blank" [href]="business().googleMapUrl">
                    <div class="address">
                        @if(business().googleMapUrl){
                        <div style="margin-bottom: 3px;">
                            <a style="margin-bottom: 0px; font-size: small;" target="_blank"
                                [href]="business().googleMapUrl">Map Directions</a>
                        </div>
                        }

                        <div>{{business().address.address1}}</div>
                        @if(business().address.address2){
                        <div>{{business().address.address2}}</div>
                        }
                        <div>
                            <span>{{business().address.city}} </span>,
                            <span>{{business().address.state}} </span>
                            <span>{{business().address.zipcode}} </span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="phone-container" style="align-content: center">
                <div style="font-size: large; font-weight: 500;text-align: center;">
                    <a style="text-decoration: none; color: black;" href="tel:{{business().address.phone}}">
                        {{business().address.phone | mask: '(000) 000-0000'}}

                    </a>
                </div>

            </div>
        </div>
    </mat-card-content>

    }


    }
</mat-card>