.business-detail-grid {
    grid-template-columns: 1fr;
    display: grid;
    column-gap: 16px;
    row-gap: 8px;
    // padding: 5px;


    @media screen and (min-width: 577px) {
        grid-template-columns: 1fr 1fr;
    }    
}