

.business-detail-grid {
    grid-template-columns: 1fr;
    display: grid;
    column-gap: 16px;
    row-gap: 8px;
    padding: 5px;


    @media screen and (min-width: 577px) {
        grid-template-columns: 1fr 1fr;
    }


    // .invite-grid {
    //     display: grid;
    //     background-color: aliceblue;
    //     border: 1px solid #cccccc;
    //     grid-template-columns: auto;        

    //     textarea {
    //         width: 100%;
    //         /* This includes padding and border in the width */
    //         box-sizing: border-box;
    //         resize: none;
    //     }
    // }
}