.invite-message {
    // height: 75px;
    border: 1px solid #cccccc;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 8px 8px;
    background-color: aliceblue;
    text-align: justify;
}

.message {
    border: 1px solid #cccccc;
}