<div class="category-list-component">
    <mat-chip-listbox aria-orientation="horizontal">
        @for(c of categoryStore.categoryList(); track $index){

        @if(c.id === categoryStore.categorySelected().id){
        <mat-chip-option title="click to filter by category" color="orange" class="category-chip selected"
            (click)="categoryStore.categorySelectedEvent(c)">
            {{c.name}}
        </mat-chip-option>
        }
        @else{
        <mat-chip-option title="click to filter by category" class="category-chip"
            (click)="categoryStore.categorySelectedEvent(c)">
            {{c.name}}
        </mat-chip-option>
        }

        }
    </mat-chip-listbox>
</div>