@use './styles/flex-header-footer.scss';
@use './styles/title-header.scss';


.mat-card-1,
.mat-card-success,
.mat-card-2 {
    border: 1px solid #cccccc !important;
    padding-bottom: 0px !important;

    hr {
        margin: 0px;
        margin-top: 4px;
        margin-bottom: 12px;
    }
}

.mat-card-success {
    background-color: #e6ffe6;
    border: 1px solid #cccccc !important;
}

.mat-card-2 {
    background-color: #e6ffe6;
}



//TODO this is being used in mat-card-title re-think name to clarify
.title-grid {
    display: inline-grid;
    grid-template-columns: auto auto;
    column-gap: 6px;
    border: 1px solid red;
    grid-template-columns: 90% 10%;
    width: 100%;
    align-items: center;

    >div {
        border: 1px dotted red;
        align-items: center; //
    }
}


button.amazon {
    background-color: #ff9933 !important;
    color: white;
}

html,
body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

b {
    font-weight: 500;
}


.main-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px;

    background-color: aliceblue;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;

    @media screen and (min-width: 576px) {}

    #header {
        text-align: center;
        grid-area: "header";
        border: px solid gray;
        background-color: aliceblue;

        @media screen and (min-width: 576px) {
            text-align: left;
            padding-left: 20px;
        }
    }

}


.header-grid {
    // border: 1px solid green;
    display: grid;
    grid-template-columns: 100%;
    background-color: aliceblue;
    padding-bottom: 15px;

    @media screen and (min-width: 576px) {
        padding-bottom: 0px;
    }
}

.filter-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(325px, 390px));
    column-gap: 32px;
    justify-content: center;
    background-color: aliceblue;
    padding-bottom: 15px;
    border-bottom: 1px solid black;
    margin-bottom: 32px;
    padding-left: 20px;
    padding-right: 20px;
}

.business-grid,
.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(325px, 390px));
    column-gap: 32px;
    row-gap: 16px;
    justify-content: center;
    padding: 0px 8px;
    padding-top: 16px;

    @media screen and (min-width: 576px) {
        row-gap: 16px;
    }
}

.no-decoration {
    text-decoration: none;
    color: black;
}

.route {
    font-weight: 400;
    text-decoration: none;
    color: black;

}

.card {
    margin-top: 10px;
    margin-bottom: 16px;
}

.instruction-grid {
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 20px;
    padding-right: 20px;
}





.desktop {
    display: none;
}


.marketing-1 {
    font-size: 3rem;
    color: gray;
}


//anything over
//1. resolves to true or false
@media screen and (min-width: 576px) {
    .desktop {
        margin-top: 50px;
        display: grid;
        text-align: center;

        .marketing-1 {
            font-size: 3rem;
            color: gray;
        }

        .marketing-2 {
            font-size: 2.6rem;

            ul {
                li {
                    padding-top: 16px;
                }
            }
        }
    }

    .address-container {
        min-height: 90px;
    }

}

.control-container {
    margin-top: 7px;

    div,
    select {
        //this will force all the controls to stack (label,control,etc)
        display: block;
    }

    label {
        font-weight: 500;
    }

    select {
        // margin-left: 5px;
        margin-top: 10px;
        margin-bottom: 5px;

    }
}

.select {
    height: 35px;
    width: 100%;
    padding: 5px;
}

.ul-1 {
    li {
        font-size: large;
        margin-bottom: 8px;
    }
}



//X-Small	None	<576px
// Small	sm	≥576px
// Medium	md	≥768px
// Large	lg	≥992px
// Extra large	xl	≥1200px
// Extra extra large	xxl	≥1400px