<mat-drawer-container style="height: 100vh;">
    <mat-drawer (closed)="hideBusiness()" disableClose="false" [opened]="store.showBusiness()">

        <div class="drawer">
            
            <div>
                <ll-business [compactMode]="store.compactMode()" [business]="store.businessSelected()"></ll-business>

            </div>
            <div >
                <button  style="width: 100%;"  (click)="hideBusiness()" mat-flat-button>Close & See Other Option</button>
            </div>
            <div>
                <ll-category [category]="store.businessSelectedCategory()"></ll-category>
            </div>
        </div>

    </mat-drawer>

    <mat-drawer-content>

        <ll-header-filter></ll-header-filter>
        <div class="business-grid">
            @for (item of store.businessListFiltered(); track $index) {
            <div>
                <ll-business [compactMode]="store.compactMode()" [business]="item"></ll-business>
            </div>
            }
            <div style="margin-top:5px;">
                <ll-category [category]="store.categorySelected()"></ll-category>
            </div>
        </div>


    </mat-drawer-content>

</mat-drawer-container>