<mat-drawer-container>
    <mat-drawer [opened]="store.showBusiness()">

        <div style="margin: 8px;border: 1px solid #cccccc;">
            <ll-business [compactMode]="store.compactMode()" [business]="store.businessSelected()"></ll-business>
            <button (click)="hideBusiness()"  mat-raised-button>Close</button>
        </div>
    </mat-drawer>

    <ll-header-filter></ll-header-filter>

    <div class="business-grid">
        @for (item of store.businessListFiltered(); track $index) {
        <div>
            <ll-business [compactMode]="store.compactMode()" [business]="item"></ll-business>
        </div>
        }
        <div style="margin-top:5px;">
            <ll-category [category]="store.categorySelected()"></ll-category>
        </div>
    </div>

</mat-drawer-container>