.home-page-grid{

    display: grid;
    

    .marketing-section{
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        margin-top: 32px;
        background-color: aliceblue;
        padding-bottom: 64px;
    }

}

mat-drawer {
    width: 100%;

    @media screen and (min-width: 576px) {
        width: 400px;
    }
}

.mat-drawer.mat-drawer-side {
    width: 500px;
}