.home-page-grid {
    // border: 1px solid red !important;
    display: grid;
    grid-template-areas: 'b';


    .business-section {
        grid-area: b;
    }
}

mat-drawer {
    width: 100%;

    @media screen and (min-width: 576px) {
        width: 400px;
    }
}

.mat-drawer.mat-drawer-side {
    width: 500px;
}